{% extends "model-page.html" %}

{% block content %}
    <form  action="submit" method="POST" >{% csrf_token %}
        <section id="evento">
                <h2>Evento</h2>

                <input type="hidden" name="id_evento" value="{{ evento.id }}">
                <label>Titulo:</label>
                <input type="text" name="titulo" size="30" value="{{ evento.titulo }}">
                <br>
                <label>Data:</label>
                <input type="datetime-local" name="data" value="{{ evento.get_data_evento_input }}">
                 <br>
                <label>Descricao:</label>
                <textarea  name="descricao" rows="5" cols="30">{{ evento.descricao }}</textarea>

                <br>
                <button type="submit">Salvar</button>
                <a href="/">
                      <button type="button">Cancelar</button>
                </a>

        </section>
     </form>
  {% endblock %}